<!DOCTYPE html>
<html lang="en">
	<head>

		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>党员信息管理系统</title>

		<link rel="stylesheet" href="assets/css/elementui.css">
		<!-- 引入组件库 -->
		<script src="assets/js/vue.js"></script><!-- vue -->
		<script src="assets/js/elementui.js"></script>
		<script src="assets/js/axios.js"></script>

		<style>
			.el-row{
				margin-bottom: 20px;
			}
			.el-tag {
				margin: 7px;
			}

			.bdtop {
				border-top: 1px solid #eee;
			}

			.bdbottom {
				border-bottom: 1px solid #eee;
			}

			.vcenter {
				display: flex;
				align-items: center;
			}
			.custom-tree-node {
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: 14px;
				padding-right: 8px;
			}
			[v-cloak] {
				display: none;
			}
		</style>

	</head>

	<body>
	<div id="app" style="margin: 15px;" v-cloak>

					<el-breadcrumb separator="/" style="padding-left:10px;padding-bottom:10px;font-size:14px;">
						<el-breadcrumb-item><a href="#">首页</a></el-breadcrumb-item>
						<el-breadcrumb-item>权限管理</el-breadcrumb-item>
						<el-breadcrumb-item>角色列表</el-breadcrumb-item>
					</el-breadcrumb>

					<!-- 卡片视图 -->
					<el-card>
						<!-- 添加角色按钮区域 -->
						<el-row :gutter="20">
							<el-col :span="4">
								<el-button type="primary" icon="el-icon-plus">新增角色</el-button>
							</el-col>
						</el-row>

						<!-- 角色列表区域 -->
						<el-table :data="rolelist" border stripe fit>
							<!-- 展开列 -->
							<el-table-column type="expand">
								<template slot-scope="scope">
									<el-row :class="['bdbottom', i1 === 0 ? 'bdtop' : '', 'vcenter']" v-for="(item1, i1) in scope.row.children" :key="i1">
										<!-- 渲染一级权限 -->
										<el-col :span="5">
											<el-tag closable @close="removeRightById(scope.row, item1.id)">{{item1.name}}</el-tag>
											<i class="el-icon-caret-right"></i>
										</el-col>
										<!-- 渲染二级和三级权限 -->
										<el-col :span="19">
											<!-- 通过 for 循环 嵌套渲染二级权限 -->
											<el-row :class="[i2 === 0 ? '' : 'bdtop', 'vcenter']" v-for="(item2, i2) in item1.children" :key="i2">
												<el-col :span="6">
													<el-tag type="success" closable @close="removeRightById(scope.row, item2.id)">{{item2.name}}</el-tag>
													<i class="el-icon-caret-right"></i>
												</el-col>
												<el-col :span="18">
													<el-tag type="warning" v-for="item3 in item2.children" :key="item3.id" closable @close="removeRightById(scope.row, item3.id)">{{item3.name}}</el-tag>
												</el-col>
											</el-row>
										</el-col>
									</el-row>

									<!-- <pre>
                                      {{scope.row}}
                                    </pre> -->
								</template>
							</el-table-column>
							<!-- 索引列 -->
							<el-table-column type="index"></el-table-column>
							<el-table-column label="角色名称" prop="name"></el-table-column>
							<el-table-column label="角色描述" prop="remark"></el-table-column>
							<el-table-column label="操作" width="300px">
								<template slot-scope="scope">
									<el-button size="mini" type="primary" icon="el-icon-edit">编辑</el-button>
									<el-button size="mini" type="danger" icon="el-icon-delete">删除</el-button>
									<el-button size="mini" type="warning" icon="el-icon-setting" @click="showSetRightDialog(scope.row)">分配权限</el-button>
								</template>
							</el-table-column>
						</el-table>
					</el-card>

					<!-- 分配权限的对话框 -->
					<el-dialog title="分配权限" :visible.sync="setRightDialogVisible" width="50%" @close="setRightDialogClosed">
						<!-- 树形控件 -->
						<el-tree
								:data="rightslist"
								:props="treeProps"
								show-checkbox
								node-key="id"
								default-expand-all
								:default-checked-keys="defKeys"
								ref="treeRef">
							<span class="custom-tree-node" slot-scope="{ node, data }">
								 <span>{{ node.label }}</span>
									<span>
									  <el-tag size="mini" type="success" v-if="data.type=='menu'">菜单</el-tag>
									<el-tag size="mini"  type="warning" v-else>按钮</el-tag>
									</span>
							</span>
						</el-tree>
						<span slot="footer" class="dialog-footer">
							<el-button @click="setRightDialogVisible = false">取 消</el-button>
							<el-button type="primary" @click="allotRights">确 定</el-button>
						</span>
					</el-dialog>

				</div>

		<script>
			new Vue({
				el: '#app',
				// router,
				data() {
					return {
						// 所有角色列表数据
						rolelist: [],
						// 控制分配权限对话框的显示与隐藏
						setRightDialogVisible: false,
						// 所有权限的数据
						rightslist: [],
						// 树形控件的属性绑定对象
						treeProps: {
							label: 'name',
							children: 'children'
						},
						// 默认选中的节点Id值数组
						defKeys: [],
						// 当前即将分配权限的角色id
						roleId: ''
					}
				},
				created() {
					this.getRolesList()
				},
				methods: {
					// 获取所有角色的列表
					async getRolesList() {

						this.rolelist = [
							{
								"id": 1,
								"name": "超级管理员",
								"remark": "超级管理员拥有一切权限",
								"children": [
									{
										"id": 1,
										"name": "党组织管理",
										"children": [
											{
												"id": 5,
												"name": "党总支管理",
												"children": []
											},
											{
												"id": 6,
												"name": "党支部管理",
												"children": [
													{
														"id": 15,
														"name": "新增党支部",
														"children": []
													}
												]
											}
										]
									},
									{
										"id": 2,
										"name": "党组织成员管理",
										"children": [
											{
												"id": 7,
												"name": "积极分子管理",
												"children": []
											}
										]
									},
									{
										"id": 3,
										"name": "党员发展",
										"children": [
											{
												"id": 8,
												"name": "确定积极分子",
												"children": []
											},
											{
												"id": 9,
												"pid": 3,
												"name": "积极分子转发展对象",
												"children": []
											}
										]
									}
								],
								"status": false
							},
							{
								"id": 2,
								"name": "普通管理员",
								"remark": "普通管理员拥有部分权限",
								"children": [
									{
										"id": 1,
										"name": "党组织成员管理",
										"children": [
											{
												"id": 5,
												"pid": 1,
												"name": "积极分子信息",
												"children": []
											},
											{
												"id": 7,
												"pid": 1,
												"name": "发展对象信息",
												"children": []
											},
											{
												"id": 8,
												"pid": 1,
												"name": "预备党员信息",
												"children": []
											}
										]
									},
									{
										"id": 3,
										"name": "日志管理",
										"children": [
											{
												"id": 9,
												"pid": 3,
												"name": "登录日志",
												"children": []
											},
											{
												"id": 8,
												"pid": 3,
												"name": "系统日志",
												"children": []
											},
											{
												"id": 9,
												"pid": 3,
												"name": "系统日志",
												"children": []
											}
										]
									}
								],
								"status": false
							}
						]

					},
					// 根据Id删除对应的权限
					async removeRightById(role, mid) {
						// 弹框提示用户是否要删除
						const confirmResult = await this.$confirm(
								'此操作将删除该角色下的权限, 是否继续?',
								'提示',
								{
									confirmButtonText: '确定',
									cancelButtonText: '取消',
									type: 'warning'
								}
						).catch(err => err)

						if (confirmResult !== 'confirm') {
							return this.$message.info('取消了删除！')
						}

						// const { data: res } = await this.$http.delete(
						// 		`role/delete/${role.id}/rights/${mid}`
						// )
						//
						// if (res.code !== 20000) {
						// 	return this.$message.error('删除权限失败！')
						// }

						// this.getRolesList()
						role.children = res.data
					},
					// 展示分配权限的对话框
					async showSetRightDialog(role) {
						this.roleId = role.id
						// 获取所有权限的数据


						// 把获取到的权限数据保存到 data 中
						this.rightslist = [
							{
								"id": 1,
								"pid": 0,
								"name": "用户管理",
								"url": "user",
								"type": 'menu',
								"level": 1,
								"disabled": false,
								"icon": null,
								"children": [
									{
										"id": 5,
										"pid": 1,
										"name": "用户列表",
										"url": "user",
										"type": 'menu',
										"level": 2,
										"disabled": false,
										"icon": null,
										"children": [
											{
												"id": 15,
												"pid": 5,
												"name": "删除用户",
												"url": "user/add",
												"type": 'bottom',
												"level": 3,
												"disabled": false,
												"icon": null,
												"children": []
											}
										]
									},
									{
										"id": 6,
										"pid": 1,
										"name": "新增用户",
										"url": "user/add",
										"type": 'bottom',
										"level": 2,
										"disabled": false,
										"icon": null,
										"children": []
									}
								]
							},
							{
								"id": 2,
								"pid": 0,
								"name": "权限管理",
								"url": "menu",
								"type": 'menu',
								"level": 1,
								"disabled": false,
								"icon": null,
								"children": [
									{
										"id": 7,
										"pid": 2,
										"name": "角色列表",
										"url": "role",
										"type": 'menu',
										"level": 2,
										"disabled": false,
										"icon": null,
										"children": []
									},
									{
										"id": 10,
										"pid": 2,
										"name": "权限列表",
										"url": "menu",
										"type": 'menu',
										"level": 2,
										"disabled": false,
										"icon": null,
										"children": []
									}
								]
							},
							{
								"id": 3,
								"pid": 0,
								"name": "日志管理",
								"url": "log",
								"type": 'menu',
								"level": 1,
								"disabled": false,
								"icon": null,
								"children": [
									{
										"id": 8,
										"pid": 3,
										"name": "系统日志",
										"url": "log",
										"type": 'menu',
										"level": 2,
										"disabled": false,
										"icon": null,
										"children": []
									},
									{
										"id": 9,
										"pid": 3,
										"name": "登录日志",
										"url": "log/login",
										"type": 'menu',
										"level": 2,
										"disabled": false,
										"icon": null,
										"children": []
									}
								]
							}
						]

						// 递归获取三级节点的Id
						this.getLeafKeys(role, this.defKeys)

						this.setRightDialogVisible = true
					},
					// 通过递归的形式，获取角色下所有三级权限的id，并保存到 defKeys 数组中
					getLeafKeys(node, arr) {
						// 如果当前 node 节点不包含 children 属性，则是三级节点
						if (node.children.length == 0) {
							return arr.push(node.id)
						}

						node.children.forEach(item => this.getLeafKeys(item, arr))
					},
					// 监听分配权限对话框的关闭事件
					setRightDialogClosed() {
						this.defKeys = []
					},
					// 点击为角色分配权限
					async allotRights() {
						const keys = [
							...this.$refs.treeRef.getCheckedKeys(),
							...this.$refs.treeRef.getHalfCheckedKeys()
						]

						const idStr = keys.join(',')

						// const { data: res } = await this.$http.post(
						// 		`role/${this.roleId}/menus`,
						// 		{ mids: idStr }
						// )
						//
						// if (res.code !== 20000) {
						// 	return this.$message.error(res.msg)
						// }

						this.$message.success('分配权限成功！')
						this.getRolesList()
						this.setRightDialogVisible = false
					}
				}
			})
		</script>

	</body>
</html>